@import '../../variables.scss';

.header {
  background-color: #FFF;
}

.link {
  margin-left: 20px;
  font-size: 16px;
  color: $gray;
}

.logo {
  display: inline-block;
  height: 18px;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 20px;
}

.link {
  &:hover {
    text-decoration: none;
  }
}

.vote {
  color: $light-blue;
}

.mate {
  color: $light-red;
}

.buttons {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  > * {
    margin-left: -10px;
  }
}

.outer {
  fill: $dark-blue;
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    fill: $gray;
  }
}

.line {
  border-color: $line-gray;
}
