@import "../../variables.scss";
:global .navbar.navbar-default {
    background-color: $light-red;
    .navbar-brand {
        color: #FFF;
        &:hover {
            color: #DDD;
        }
    }
}