@import '../../variables.scss';
$small-screen: 400px;

.header {
  background-color: #FFF;
}

$link-font: (
  null: 14px,
  $small-screen: 18px,
);

$logo-font: (
  null: 16px,
  $small-screen: 24px,
);

.link {
  margin-left: 20px;
  @include font-size($link-font);
  @include link();
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}

.logo {
  display: inline-block;
  height: 16px;
  @include font-size($logo-font);
  margin-top: 10px;
  margin-left: 20px;
  a:hover {
    text-decoration: none;
  }
}

.vote {
  color: $light-blue;
}

.mate {
  color: $light-red;
}

.buttons {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  > * {
    margin-left: -10px;
  }
}

.outer {
  fill: $dark-blue;
  width: 40px;
  height: 40px;

  @media screen and (max-width: 399px) {
    width: 32px;
    height: 32px;
  }
  &:hover {
    cursor: pointer;
    fill: $gray;
  }
}

.line {
  border-color: $line-gray;
}
