@import '../../variables.scss';

$header-font: (
  null: 20px,
  $small-screen: 30px,
  $mid-screen: 40px,
  $large-screen: 50px,
);

.header {
  padding-top: 8vmin;
  padding-bottom: $pad;
  text-align: center;
  @include font-size($header-font);
}

.test {
  text-align: center;
  padding-bottom: $pad;
}

.checkRegPage {  /* stylelint-ignore */
  width: 60%;
  min-width: 290px;
  margin: auto;
}

.registerButton {
  @include button();
  background-color: #FFF;
  border: 1px solid $dark-blue;
  color: $dark-blue;

  &:hover {
    border: none;
    background-color: $dark-blue;
    color: #FFF;
  }
}

.message {
  padding-top: $pad;
  font-size: inherit;
  text-align: center;

  @media screen and (max-width: $small-screen) {
    span {
      display: block;
    }
  }
}

[class*='col-'] {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.formResults {
  visibility: hidden;
}
