@import '../../variables.scss';

.header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  @include font-size($header-font);
}

.link {
  @include link();
}

.registerText {
  text-align: center;
  font-size: 14px;
  padding-bottom: 1vh;
}

.divider {
  border-color: $line-gray;
}

.checkRegPage {  /* stylelint-ignore */
  @include page();
}

.registerButton {
  @include button();
  color: #FFF;
  background-color: $dark-blue;
  border: none;
  i {
    padding-left: 8px;
  }
}

[class*='col-'] {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.formResults {
  visibility: hidden;
}
