@import "../../variables.scss";
@import url(https://fonts.googleapis.com/css?family=Karla);

.header {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 5vw;
  font-family: 'Karla', sans-serif;
}

.checkRegPage {  /* stylelint-ignore */
  width: 60%;
  min-width: 290px;
  margin: auto;
}

.message {
  padding-top: 10px;
}

[class*='col-'] {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.link {
  color: $light-blue; /* complements the blue in the select box */
}