.header {
    padding-top:5%;
    padding-bottom:3%;
    text-align:center;
    font-size: 5vw;
}

.checkRegPage {  /* stylelint-ignore */
    width:60%;
    min-width:290px;
    margin: auto;
}

.message {
    padding-top:10px;
}

[class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.link {
    color: #000080; /*complements the blue in the select box */
}

/* splash image */
.flag {
    width:85%;
    opacity:.05;
    z-index: -1;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}