.header {
    padding-top:5%;
    padding-bottom:3%;
    text-align:center;
    font-size: 5vw;
}

.checkRegPage {  /* stylelint-ignore */
    width:60%;
    min-width:320px;
    margin: auto;
}

#button {
    display:block;
    margin:auto;
}

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 5px !important;
}

/* splash image */
.flag {
    width:85%;
    opacity:.05;
    z-index: -1;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}