@import '../../variables.scss';

$state-select-font: (
  null: 14px,
  $mid-screen: 18px
);

$state-select-height: (
  null: $field-height,
  $mid-screen: 1.5 * $field-height
);

/* StateSelect styles */
.stateSelect {
  background-color: $dark-blue;
  border:none;
  color: #FFF;
  font-weight: bold;
  @include font-size($state-select-font);
  @include height($state-select-height);
  width: 100%;
  display: block;
  margin: 0 auto;
}

select.stateSelect {
  text-align: center;
  text-align-last: center;
}

