/* StateSelect styles */
.stateSelect {
    border: 2px solid blue;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    height:50px;
    width:50%;
    display: block;
    margin: 0 auto;
}

select.stateSelect {
    text-align: center;
    text-align-last: center;
    /* webkit*/
}