@import '../../variables.scss';

$font: (
  null: 14px,
  630px: 22px,
);

.form {
  @include font-size($font);
}

.email {
  border: 2px solid $gray;
  background-color: #FFF;
  width: 60%;
  max-width: 480px;
  min-width: 290px;
  border-radius: 5px;
  padding: 40px 50px 30px;
  box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.2), 6px 12px 12px 6px rgba(0, 0, 0, 0.15);
  @include centered();
  z-index: 2;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}
