@import '../../variables.scss';

$result-font: (
  null: 18px,
  550px: 20px,
  630px: 22px,
  660px: 26px,
  790px: 30px,
);

.result {
  text-align: center;
  @include font-size($result-font);
}

.yes {
  color: $green;
}

.no {
  color: $dark-red;
}

.heading {
  padding-bottom: 5px;
}

.input {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid $gray;
  border-radius: 0;
  width: 100%;
  &:focus {
    border: none;
    border-bottom: 1px solid $dark-blue;
  }
}

.submit {
  background-color: $dark-red;
  border: none;
  height: 6vmin;
  color: #FFF;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 100%;
  min-width: 150px;
  &:hover {
    opacity: 0.8;
  }
}

$font: (
  null: 14px,
  630px: 22px,
);

.email {
  @include font-size($font);
}
