@import '../../variables.scss';

$result-font: (
  null: 18px,
  550px: 20px,
  630px: 22px,
  660px: 26px,
  790px: 30px,
);

.result {
  text-align: center;
  @include font-size($result-font);
}

.yes {
  color: $green;
}

.no {
  color: $dark-red;
}

.input {
  border: none;
  border-bottom: 1px solid $gray;
  border-radius: 0;
  width: 100%;
  &:focus {
    border: none;
    border-bottom: 1px solid $dark-blue;
  }
  margin-top: 10px;
}

.formField {
  padding: 10px;
}

.submit {
  @include button();
  background-color: $dark-red;
  font-size: 16px;
  width: 100%;
  min-width: 150px;
  margin-top: 15px;
}

.status {
  margin-top: 5px;
  font-size: 14px;
}


