@import '../../variables.scss';

.heading {
  font-size: 26px;
  padding-bottom: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid $gray;
  border-radius: 0;
  width: 100%;
  &:focus {
    border: none;
    border-bottom: 1px solid $light-red;
  }
}

.submit {
  @include button()
  background-color: $dark-red;
  border: none;
  height: 52px;
  color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  &:hover {
    background-color: $light-red;
  }
}
