$dark-red: #DA2D2D;
$light-red: #F33;
$dark-blue: #003DBF;
$light-green: #20BC61;
$light-blue: #33F;
$small-screen: 424px;
$mid-screen: 600px;
$large-screen: 1000px;
$field-height: 35px;
$pad: 0.3 * $field-height;

@mixin button() {
  border-radius: 5px;
  display: block;
  margin: auto;
  height: $field-height;
  width: 50%;
  min-width: 200px;
  text-align: center;
  outline: none;
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin height($height-map) {
  @each $fs-breakpoint, $fs-height in $height-map {
    @if $fs-breakpoint == null {
      height: $fs-height;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        height: $fs-height;
      }
    }
  }
}
