$dark-red: #DA2D2D;
$light-red: #ED1212;
$dark-blue: #003DBF;
$light-blue: #1212ED;
$green: #00BF3D;
$gray: #7F7F87;
$light-gray: #98989F;
$field-height: 35px;
$pad: 0.3 * $field-height;

$header-font: (
  null: 22px,
  550px: 24px,
  630px: 30px,
  660px: 33px,
  790px: 37px,
);

@mixin stateSelect() {
  height: 52px;
  background-color: $dark-blue;
  border: none;
  color: #FFF;
  font-size: 18px;
  margin: auto;
}

@mixin button() {
  border-radius: 5px;
  display: block;
  margin: auto;
  height: $field-height;
  width: 50%;
  min-width: 210px;
  font-weight: bold;
  text-align: center;
  outline: none;
  white-space: nowrap;
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin height($height-map) {
  @each $fs-breakpoint, $fs-height in $height-map {
    @if $fs-breakpoint == null {
      height: $fs-height;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        height: $fs-height;
      }
    }
  }
}
