@import '../../variables.scss';

//same as the check reg page, clean up later
.postRegPage {
  margin: auto;
}
  
.social {
  margin-top: 10vmin;
}

.email {
  bottom: 100;
  margin-left: 100px;
  position: fixed;
}