@import '../../variables.scss';
// $social-font: (
//   null: 20px,
//   $mid-screen: 24px,
//   $large-screen: 28px,
// );

.footer {
  text-align: center;
}

.socialText {
  font-size: 22px;
  color: $gray;
  margin-right: 10px;
}

.buttons {
  display: inline-block;
  vertical-align: -60%;
  > a {
    display: inherit;
    margin-left: -12px;
  }
}

.outer {
  fill: $dark-blue;
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    fill: $gray;
  }
}
