@import '../../variables.scss';
// $social-font: (
//   null: 20px,
//   $mid-screen: 24px,
//   $large-screen: 28px,
// );

.footer {
  text-align: center;
}

.socialText {
  // @include font-size($social-font);
  color: $gray;
}

.buttons {
  display: inline-block;
  vertical-align: -50%;
  > a {
    display: inherit;
    margin-left: -10%;
  }
}

.outer {
  fill: $dark-blue;
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    fill: $gray;
  }
}
