@import '../../variables.scss';

// same style as the Check Reg button except for colors, make more DRY later
.register {
  background-color: #FFF;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  color: $dark-blue;
  display: block;
  margin: auto;
  height: $field-height;
  width: 50%;
  min-width: 200px;
  text-align: center;
  outline: none;

  &:hover {
    background-color: $dark-blue;
    color: #FFF;
  }
}