@import '../../variables.scss';

.checkReg {
  @include button();
  background-color: $dark-red;
}

.link {
  @include link();
}

.privacy {
  margin-bottom: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}
