.checkRegForm {  /* stylelint-ignore */

}

#button {
    background-color:#cc0000;
    color:white;
    display:block;
    margin:auto;
    height:40px;
    width:40%;
}

#button:hover {
    background-color: #ff3232;
}