.checkRegForm {  /* stylelint-ignore */

}

#button {
    border-color: #000080;
    display:block;
    margin:auto;
    height:40px;
    width:40%;
}

#button:hover {
    background-color: #eef7fa;
    color: #000080;
}