@import "../../variables.scss";

#button {
  background-color: $dark-red;
  color: #FFF;
  display: block;
  margin: auto;
  height: 40px;
  width: 50%;
  min-width: 200px;
  text-align: center;
}

#button:hover {
  background-color: $light-red;
}

