@import '../../variables.scss';

.email {
  padding-top: 2vh;
  width: 50%;
  max-width: 400px;
  min-width: 290px;
  font-size: 16px;
  margin: auto;
}

$reminder-font: (
  null: 22px,
  641px: 30px,
  990px: 37px,
);

.heading {
  @include font-size($reminder-font);
  text-align: center;
  padding-bottom: 10px;
}
